@font-face {
  font-family: "acumin-pro";
  src: url("./fonts/Acumin-RPro.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "MyWebFont", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fp-viewing-two .fade-in {
  -webkit-animation: fade-in-bottom 1.2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: fade-in-bottom 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s both;
}

.content-p {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.2em;
  font-family: acumin-pro;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.4em;
  font-size: 2rem;
}

.header {
  z-index: 99;
  position: absolute;
  animation: fade-in-bottom 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s both;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;

  color: white;
}

.header {
  z-index: 99;
  position: absolute;
  animation: fade-in-bottom 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s both;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  padding-left: 5%;
  color: white;
}

.fp-watermark {
  display: none;
}

.fp-viewing-two .header,
.fp-viewing-four .header {
  color: black;
}

.section {
  position: relative;
  overflow: hidden;
}

.section-content {
  height: 100vh;
  max-width: 780px;
  margin-left: calc(50% - 370px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 780px) {
  .section-content,
  .header {
    margin-left: 0%;
    padding: 15px;
  }
}

.body-content {
  margin-bottom: 80px;
}

.section--dark {
  background-color: black;
}

.loading-bar {
  overflow: auto;
  top: 83%;
  height: 1.3px;
  position: fixed;
  z-index: 999;
  background-color: black;
  border-left: 10px solid black;
  border-right: 10px solid black;
  left: calc(50% - 15px);
  opacity: 0;

  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}

.fp-viewing-one .loading-bar {
}

.fp-viewing-two .loading-bar {
  opacity: 1;
  background-color: black;
  border-left: 80px solid black;
  border-right: 80px solid black;
  left: calc(50% - 80px);
}

.fp-viewing-three .loading-bar {
  opacity: 1;
  background-color: white;
  border-left: 160px solid white;
  border-right: 160px solid white;
  left: calc(50% - 160px);
}

.fp-viewing-four .loading-bar {
  background-color: black;
  opacity: 0;
  border-left: 250px solid black;
  border-right: 250px solid black;
  left: calc(50% - 250px);
}

.video-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-embed {
  width: 100%;
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.footer {
  padding: 30px;
  background-color: black;
  display: flex;
  height: 95px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: auto !important;
}

.footer div {
  color: #fff;
  font-weight: 200;
  font-size: 20px;
}

.m-scroll {
  display: flex;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 50px;
  margin: auto;
  overflow: hidden;
  z-index: 1;
}

.m-scroll--title {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition: all 1s ease;
}

.m-scroll--title div {
  display: flex;
  animation: scrollText 16s infinite linear;
}

.m-scroll--title h1 {
  margin: 0;
  font-size: 22px;
  color: rgba(255, 255, 255, 1);
  transition: all 2s ease;
}
a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}
a:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

div:hover {
  animation-play-state: paused;
}

@media screen and (max-width: 780px) {
  .fp-viewing-two .loading-bar {
    border-left: 40px solid black;
    border-right: 40px solid black;
    left: calc(50% - 40px);
  }

  .fp-viewing-three .loading-bar {
    border-left: 80px solid white;
    border-right: 80px solid white;
    left: calc(50% - 80px);
  }

  .fp-viewing-four .loading-bar {
    border-left: 150px solid black;
    border-right: 150px solid black;
    left: calc(50% - 150px);
  }
}

.information-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
  color: #fff;
  justify-content: center;
}

.information-section img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

.information-section-card {
  text-align: center;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  align-items: center;
}

.contact-banner {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .information-section {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .information-section img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
  }
}

.text-fill {
  background-image: linear-gradient(60deg, #5ca78a, #497a79);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 0.2em;
  font-weight: 500;
}

#fp-nav ul li a span {
  transition: background-color 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s !important;
}

.fp-viewing-one #fp-nav ul li a span {
  background: white;
}

.fp-viewing-two #fp-nav ul li a span {
  background: black;
}

.fp-viewing-three #fp-nav ul li a span {
  background: white;
}

.fp-viewing-four #fp-nav ul li a span {
  background: black;
}
